<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/ax.css" rel="stylesheet" type="text/css">
    <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css">

<script src="/static/js/ax.min.js" type="text/javascript"></script>
</head>
<body>

{% include 'components/nav.html' %}
<div class="ax-flex-row ax-split">
    <div class="ax-flex-block-1">
        <section class="demo-section-border"></section>
    </div>

    <div class="ax-flex-block-5">
<table class="ax-table" hover>
    <thead>
        <tr>
            <th>序号</th>
            <th>岗位名称</th>
            <th>薪资</th>
            <th>工作地点</th>
            <th>状态</th>
            <th>最近一次修改时间</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record["id"] }}</td>
                <td><a href="/person/detail/{{ record["id"] }}/">{{ record.name }}</a></td>
                <td>{{ record.salary_low }} - {{ record.salary_high }} </td>
                <td>{{ record.city }}</td>

            <td>{{ record['status'] | bio_record_cut }}</td>
            <td>{{ record['update_time'] }}</td>
            <td>
                {% if record['status'] == 1 %}
                <button data-k="{{ record['id'] }}" class="ax-btn ax-ripple ax-sm dig">查看面试邀请内容</button> &nbsp;

                    <button onclick="accept({{ record['id'] }})" class="ax-btn ax-primary ax-ripple ax-sm">接受</button> &nbsp;
                <button onclick="reject({{ record['id'] }})"  class="ax-btn ax-danger ax-ripple ax-sm">拒绝</button></td>

                {% endif %}

            </tr>
    {% endfor %}
    </tbody>
</table>


    </div>

    <div class="ax-flex-block-1">
        <section class="demo-section-border"></section>
    </div>

</div>

<div id="ajax"></div>


<script>
    const doms = document.querySelectorAll(".dig")
    for (const item of doms) {
        const k = item.attributes['data-k'].value
        item.onclick = function () {
            new axDialog({
                url:'/person/interview/check/'+k,
                type:"async",
                content:function(res){

                    const {interview_title, interview_content} = res;
                    return `<div class="ax-dialog-content">
                        <div class="ax-dialog-title">${interview_title}</div>
                        <div class="ax-dialog-body">${interview_content}</div>
                    </div>`
                }
            }).show();
        }
    }
    function accept(id) {
        axAjax({
            url: '/person/interview/accept/'+id,
            type: 'post',
            success: function (data) {
                window.location.reload();
            }
        });
    }

    function reject(id) {
        axAjax({
            url: '/person/interview/reject/'+id,
            type: 'post',
            success: function (data) {
                window.location.reload();
            }
        });
    }
</script>
</body>
</html>

