<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>页面标题</title>
    <meta name="keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <link href="/static/css/ax.css" rel="stylesheet" type="text/css" >
    <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css" >
</head>
<body>

{% include 'components/nav.html' %}
<div class="ax-form-group">
<div class="ax-flex-row">
<div class="ax-form-label">名称</div>
<div class="ax-form-con">
<div class="ax-form-input"><input type="text" /></div>
</div>
</div>
</div>
<script src="/static/js/ax.min.js" type="text/javascript" charset="utf-8"></script>
<script type='text/javascript'>
    document.addEventListener("DOMContentLoaded", function () {

    //js内容
    });
</script>
</body>
</html>