<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人才招聘系统 - 投递记录</title>

    <link href="/static/css/ax.css" rel="stylesheet" type="text/css">
    <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css">

</head>
<body>

{% include 'components/nav.html' %}

<div class="ax-flex-row ax-split">
    <div class="ax-flex-block-1">
        <section class="demo-section-border"></section>
    </div>

    <div class="ax-flex-block-5">
        <table class="ax-table" hover>
    <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>学校</th>
            <th>学校</th>
            <th>状态</th>
            <th>最近一次修改时间</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for record in job_records %}
        {% if record['status'] == 0 %}
            <tr class="ax-bglit-warning">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ record.id }}</td>
            <td>{{ record['name'] }}</td>
            <td>{{ record['gender'] | gender_cut }}</td>
            <td>{{ record['school'] }}</td>
            <td>{{ record['degree'] | degree_cut }}</td>
            <td>{{ record['status'] | bio_record_cut }}</td>
            <td>{{ record['update_time'] }}</td>
            <td>
                <a href="{{ url_filename_func(record.url, record['name'])}}" class="ax-btn ax-info ax-ripple ax-sm">下载简历</a>

                {% if record['status'] == 0 %}
                <a href="/hr/send_interview/{{ record.id }}" class="ax-btn ax-primary ax-ripple ax-sm">发送面试</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="ax-flex-block-1">
        <section class="demo-section-border"></section>
    </div>

</div>
<script src="/static/js/ax.min.js" type="text/javascript"></script>
<script>

</script>
</body>
</html>